{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "defaults",
          "ie >= 9"
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "app": "./src/app",
        "containers": "./src/app/containers",
        "modules": "./src/app/modules",
        "^services$": "./src/app/services/index.js",
        "^states$": "./src/app/states/index.js",
        "design-system": "./src/design-system"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "^testing$": "./src/testing/index.js",
            "app": "./src/app",
            "containers": "./src/app/containers",
            "modules": "./src/app/modules",
            "^services$": "./src/app/services/index.js",
            "^states$": "./src/app/states/index.js",
            "design-system": "./src/design-system"
          }
        }]
      ]
    }
  }
}
