{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "app": "./src/app",
          "environment": "./environments/index.js",
        }
      }
    ]
  ]
}
