{
  "presets": [
    "stage-2",
    ["env", {
      "targets": {
        "browsers": ">= 1%"
      }
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["module-resolver", {
      "alias": {
        "app": "./src/app",
        "environment": "./environments/index.js",
      }
    }]
  ]
}
