# This is an example file for your ".env" file. That file will be read by webpack to override any
# environment runtime variables that are defined in the "config/runtime" folder.
# ROOTID=root-element
