{
  "extends": "./node_modules/@biotope/quality-gate/config/logic/recommended.js",
  "env": {
    "browser": true,

    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "globals": {
    "ENVIRONMENT": true,
    "PROJECT": true,
    "DEFAULTS": true,
    "SERVICES": true,

    "mockStyle": true,
    "MockImports": true
  }
}
