{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": "standard",
  "rules": {
    "curly": [
      "error",
      "all"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-console": "error",
    "no-var": "error",
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ]
  },
  "plugins": [
    "jest"
  ],
  "globals": {
    "mockElement": true,
    "mockConsole": true
  }
}
