{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "jest"
  ],
  "globals": {
    "ENVIRONMENT": true,
    "createElement": true,
    "mockConsole": true,
    "TestImports": true
  }
}
