@import '../../../../node_modules/@biotope/element/lib/host.mixin';

@include host('home-component') {
  display: block;
}

.content {
  text-align: center;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
