
@mixin reset {
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    border: 0;
    padding: 0;
  }

  ul {
    padding-left: 3 * $unit;
  }

  * {
    box-sizing: border-box;
  }
}
